@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Roboto", sans-serif;;
}

.input{
    @apply border border-gray-100 rounded px-3 py-1 shadow w-full outline-none focus:border focus:border-gray-200 text-xs font-normal
}

.th{
    @apply p-2 text-center border text-xs text-black
}

.td{
    @apply p-2 border text-center text-gray-600 font-normal
}

.tr{
    @apply bg-white hover:bg-blue-50
}

.tablevisible {
    @apply overflow-hidden transition-[height] duration-1000;
}

.tablehide {
    @apply h-0 overflow-hidden transition-[height] duration-1000 ease-in-out;
}


.table{
    height: 0; 
    overflow: hidden;
    margin-inline: auto;
    transition: 1s height ease-in-out ;
}

.table.open{
   height: calc-size(auto);
}